$bg-colors: (
    light: #fff,
);

$theme-colors: (
    light: #08d9d6,
    dark: #252a34,
    error: #ff2e63,
    cancel: #eaeaea,
);

$text-colors: (
    light: #fff,
    dark: #000,
);


$test: #fff;


